* {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.dashboard {
	height: 100vh;
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas: "side main" "side main";
}

.main {
	grid-area: main;
	background-color: #c3c5ca;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"c1 c2 c3"
		"c4 c4 c5"
		"c4 c4 c6"
	;
	gap: 20px;
	padding: 25px;
}

.sidebar {
	grid-area: side;
}

.header {
	background-color: #fff;
	grid-area: header;
}

.card {
	border-radius: 10px;
	background-color: #f6f7f9;
	border: 2px solid #005186;
}

.card:nth-child(1) {
	grid-area: c1;
}

.card:nth-child(2) {
	grid-area: c2;
}

.card:nth-child(3) {
	grid-area: c3;
}

.card:nth-child(4) {
	grid-area: c4;
}

.card:nth-child(5) {
	grid-area: c5;
}

.card:nth-child(6) {
	grid-area: c6;
}

.card-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px 35px;

}

.card-title {
	text-align: center;
	padding-top: 10px;
	font-size: 1.5rem;
}

.card-header p {
	text-align: center;
	font-style: italic;
}

.card-form {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card-label {
	font-weight: bold;
	float: left;
	font-size: 1.15rem;
}

.card-textarea {
	border: 2px solid #DADDEC;
	margin: 5px 0 10px;
	height: 60px;
	outline: none;
	resize: none;
	width: 95%;
	font-size: 1rem;
	padding: 12px 6px 2px 8px;
}

.card-textarea:focus {
	border: 2px solid #005186;
}

.card-btn {
	max-width: 175px;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	background-color: #0066CC;
	padding: 10px 5px;
	border: none;
	transition: 500ms;
	transform: translateY(0);
	cursor: pointer;
	border-radius: 15px;
}

.card-btn:hover {
	border: 2px solid #0066CC;
	background-color: #fff;
	color: #0066CC;
	transition: 500ms;
}

.card .response {
	font-size: 1rem;
}

.broken {
	color: red;
}

.table-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
	margin-top: 10px;
}