* {
    margin: 0;
    text-decoration: none;
}

.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
}

.sidebar {
    background: #005186;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
}

.top_section {
    display: flex;
    background: #c3dcec;
    justify-content: center;
    padding: 5px 15px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}

.link:hover {
    background: #c3dcec;
    color: #005186;
    transition: all 0.5s;
}

.active {
    background: #fff;
    color: #005186;
}